<!DOCTYPE html>
<html>
  <head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="sampleTemplate.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Compilers Documentation Index</title>
  </head>
  <body>
	<div class="sidenav">
		<a href="#">Home</a>
	%	for i in Sli:
			<a href="/${i}">${i}</a>
	%	endfor
	</div>
	<div class="main">

	</div>
  </body>
</html>